#students, #supervisors{
  background-color: black;
  border-color: black;
}
#xjlogo{
  width: 5em;
  height: 5em;
}
.logo{
  /* background-color: yellow; */
  grid-area: left;
  text-align: center;
  padding-top: 15%;
}

#xh{
  max-width: 100%;
  max-height: 100%;
}

/* cards */


/* about section */
#about{
  /* background-color: blue; */
  grid-area: center;
}

#about h1{
  grid-area: title;
  grid-row-start: 2;
  align-self:flex-start;
}

#about p{
  grid-area: content;
  align-self: center;
}

#about div{
  grid-area: xtra;
  align-self: center;
  text-align: center;
}

/* bio section */
#bio{
  grid-area: right;
  align-items: center;
  text-align: center;
}
#bio img{
  grid-area: title;
  display: block;
  margin: auto;
  align-self:start;
}

#bio h3{
  grid-area: title;
  align-self: end;
}

#bio p{
  grid-area: content;
  align-self: start;
}

#bio ul{
  grid-area: xtra;
}

#bio li{
  list-style: none;
}

#bio li a{
  text-decoration: none;
}
