html{
  height: 100%;
}
body{
  overflow-x: hidden;
  /* height: 90%; */
}


.container{
  width: 100%;
  height: 100%;
  
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-gap: 1rem;
  grid-template-areas:
    "top top top"
    "mid mid mid"
    "bot bot bot";
}


#students, #supervisors{
  background-color: black;
  border-color: black;
}
#xjlogo{
  width: 5em;
  height: 5em;
}
.logo{
  /* background-color: yellow; */
  grid-area: top;
  text-align: center;
  padding-top: 5%;
  align-self: center;
}

#xh{
  max-width: 90%;
  max-height: 100%;
}

/* cards */


/* about section */
#about{
  /* background-color: blue; */
  grid-area: mid;
}

#about h1{
  grid-area: title;
  grid-row-start: 2;
  align-self: start;
  margin-top: -30%;
}

#about p{
  grid-area: content;
  align-self: center;
}

#about div{
  grid-area: xtra;
  align-self: center;
  text-align: center;
}

/* bio section */
#bio{
  grid-area: bot;
  align-items: center;
  text-align: center;
}
#bio img{
  grid-area: title;
  display: block;
  margin: auto;
  align-self:start;
  margin-top: 10%;
}

#bio h3{
  grid-area: title;
  align-self: end;
}

#bio p{
  grid-area: content;
  align-self: start;
}

#bio ul{
  grid-area: xtra;
}

#bio li{
  list-style: none;
}

#bio li a{
  text-decoration: none;
}
