<!DOCTYPE html>
<html lang="en">
<head>
  
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>xHours</title>
  <meta name="description" content="A tool for recording community service hours.">
  <meta name="author" content="Xander Jake de los Santos">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/xhours.css">
  <link rel="stylesheet" href="css/landingpage.css">
  <link rel="stylesheet" type="text/css" media="only screen and (max-width: 480px)" href="css/s-landingpage.css" />
  <link rel="stylesheet" type="text/css" media="only screen and (max-width: 480px)" href="css/s-xhours.css" />
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/XH.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="logo">
      <img src="images/XH.png" alt="XH logo" id="xh">
    </div>
 
    <div class="card" id="about">
      <h1 class="title">About</h1>
      <div>
        <p>
          xHours.io is a tool that eliminates paper in recording community service hours. Its based on the current process with additional functionalities: 
          <ul>
            <li>Students can view their hours and request for it anytime, anywhere.</li>
            <li>Supervisors can post opportunities that students can view easily.</li>
          </ul>
        </p>
      </div>
      <div class="extra">

        <a href="/student" class="button-primary button" id="students">Students</a>
        <a href="/client" class="button-primary button" id="supervisors">Supervisors</a>

      </div>
    </div>

    <div class="card" id="bio">
      <img src="images/profpic.png" alt="xanderjakeq's logo" id="xjlogo">
      <h3>xanderjakeq</h3>
      <p>Some bio about me.</p>
      <ul>
        <li>
          <a href="https://www.instagram.com/xanderjakeq/">instagram</a>
        </li>
        <li>
          <a href="https://github.com/xanderjakeq">github</a>
        </li>
        <li>
          <a href="https://www.facebook.com/xanderjakeq/">facebook</a>
        </li>
        <li>
          <a href="https://twitter.com/xanderjakeq">twitter</a>
        </li>

      </ul>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
