<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Dashboard + "{{key}}"</title>
  <meta name="description" content="A tool for recording community service hours.">
  <meta name="author" content="Xander Jake de los Santos">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- Firebase Things -->

  <!-- //TODO: figure out implicit initialize -->

  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>

  <!-- End of Firebase Things -->

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/skeleton.css">
  <link rel="stylesheet" href="../css/xhours.css">
  <link rel="stylesheet" href="../css/students.css">
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="../images/XH.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <nav id="nav">
    <a href="../index.html">
      <img src="../images/XH_white2.png" alt="xhours" id="navlogo">
    </a>

      <h4 id="hours">0</h4>
      <button type="button" name="button" id="logIn" class="navBtn button-primary">Sign In</button>
      <button type="button" name="button" id="logOut" class="navBtn">Sign Out</button>

  </nav>
  <!-- main content -->
  <div  class="container" id="container">
    <!-- <div id="firebaseui-auth-container"></div> -->

    <ul id="postList">
      <li class="listCard" id="defaultCard">
        <h3>This is the opportunity List</h3>
        <p>
          Some description will be provided about the community service activity.
        </p>
        <a>Contact Info will be here if provided</a>
      </li>
    </ul>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <script type="text/javascript" src="../js/app.js"></script>
</body>
</html>
